@charset "UTF-8";
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
}

.boardTable {
    width: 100%;
    border-collapse: collapse;
}

.boardTable th {
    background-color: #f2f2f2;
    color: #666;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

.boardTable td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.boardTable tr:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

#postNumber, #postTitle, #postContent, #postAuthor, #postDate, #postViews {
    min-width: 100px;
}
/*
.post {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 10px;
}
.boardTable
{
	text-align: center;
	margin: 0 auto;
}
.boardTable tr
{
	margin-top: 40px;
}
.boardTable tr:hover .boardTable tr
{
	color: aqua;
	background-color: blue;
}
.boardTable th
{
	width: 150px;
	font-weight: 500;
}

        .post-item {
            padding: 20px;
            border: 1px solid #ddd;
        }
        .post-title {
            font-weight: bold;
            margin-bottom: 10px;
        }
        .post-content {
            margin-bottom: 10px;
        }
        .post-author {
            font-style: italic;
            margin-bottom: 5px;
        }
        .post-date {
            font-size: 0.8em;
            color: #888;
        }*/